.project-list {
  display: flex;
  flex-wrap: wrap;
}

* {
  font-family: "outfit";
}

body {
  background-color: #0f0921;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #05ffa1;
  }
  to {
    text-shadow: 0 0 30px #01cdfe, 0 0 10px #b967ff;
  }
}
