.project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 70px;
  row-gap: 50px;
}

* {
  font-family: "outfit";
}

body {
  background-color: #0f0921;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #05ffa1;
  }
  to {
    text-shadow: 0 0 30px #01cdfe, 0 0 10px #b967ff;
  }
}

/* @media screen and (min-width: 320px) and (max-width: 1000px) {
  .home-title {
    font-size: 50px;
  }
} */
