#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 70px;
  row-gap: 50px;
}

body {
  font-family: "outfit";
}

header {
  background-image: url("public/jeremy-thomas-E0AHdsENmDg-unsplash.jpg");
  width: 50px;
  height: 50px;
}
