.createprojectform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  padding: 50px;
  background-color: #fffb96;
  width: 60%;
  border-radius: 5%;
}

div {
  padding: 5px;
  margin: 10px;
}

#password {
  margin-bottom: 10px;
}

.pinkbutton:hover {
  background-color: #ff71ce;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10%;
  font-family: "outfit";
}
